@font-face {
	font-family: 'HelveticaNeue-Roman';
	src: url('HelveticaNeue-Roman.eot');
	src: url('HelveticaNeue-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
  --blue: #3171B8;
  --spacing: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, HelveticaNeue-Roman, Arial, Sans-serif;
  font-weight: 100;
}

header {
  height: 50px;
  line-height: 50px;
  position: sticky;
  top: 0px;
  color: white;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing);
}

header h1 {
  display: inline-block;
  margin: 0;
  font-weight: 300;
}

a {
  display: inline;
  padding: 0 16px;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  border: none;
  line-height: 50px;
}

a:hover[href] {
  background-color: #F0F0F0;
  color: #000;
}

a:not([href]) {
  cursor: not-allowed;
  opacity: 0.8;
}

form {
  background-color: #F0F0F0;
  padding: var(--spacing);
}

label,
input {
  font-size: 25px;
  display: block;
}

input {
  margin-bottom: var(--spacing);
  width: 100%;
  border: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  width: 500px;
  padding-top: calc(var(--spacing) * 3);
}

canvas {
  height: 500px;
  width: 500px;
}
